<h1><%= @shop.name %> トップページ</h1>
<br>

<%= link_to "材料追加", new_shop_material_path(@shop) %> |
<%= link_to "材料一覧", shop_materials_path(@shop) %>
<br>
<%= "商品追加" %> |
<%= "商品一覧"%>
<br>
<%= link_to "店員管理", shop_path(@shop) %>
<%= "売上管理" %>
<br>
    <%= link_to "単位作成", new_shop_unit_path(@shop) %><br>
    <button>販売先管理</button><br>
    <button>仕入れ先管理</button><br>
    <button>材料カテゴリ管理</button><br>
    <button>商品カテゴリ管理</button><br>
