<h1><%= @user.name %> のページ</h1>
<br>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% else %>
  <%= image_tag (asset_path'no_image.png') %>
<% end %>
<h3>ユーザー名: <%= @user.name %></h3>
<p>メールアドレス: <%= @user.email %></p>
<p>管理者: <%= @user.admin %></p>
<p>所属ショップ: <%= @user.keep_shop_id %></p>

<%= link_to "ユーザー情報編集", edit_user_registration_path(@user) %>