<div class="nested-fields">
  <table>
    <tr>
      <td><p id="material-select-image"><%= "写真" %></p></td>
      <td><%= f.collection_select(:material_id, @materials, :id, :name ,{prompt: "選択してください"},{class: 'material-select',:onchange => "changeMaterial($(this).val())"}) %></td>
        <td><p id="material-select-stock"><%= "在庫" %></p></td>
        <td><p id="material-select-unit"><%= "数" %></p></td>
        
      <td><%= f.number_field :use_material_number %></td>
      <td><%= link_to_remove_association "削除", f %></td>
    </tr>
  </table>
</div>

  <script>
  function changeMaterial(val){
    var material_id = val;
    $('#material-select-image').attr('id', 'material-select-image' + material_id);
    $('#material-select-stock').attr('id', 'material-select-stock' + material_id);
    $('#material-select-unit').attr('id', 'material-select-unit' + material_id);

    $.ajax({
      url: "/products/get_material",
      type: "GET",
      data: {
        material_id: material_id
      }
    })
  };
  </script>