<div class="nested-fields">
  <table>
    <tr>
      <td><p id="material-select-image"><%= "写真" %></p></td>
      <td><%= f.collection_select(:material_id, @materials, :id, :name ,{prompt: "選択してください"},{class: 'material-select',:onchange => "changeMaterial($(this).val())"}) %></td>
        <td><p id="material-select-stock"><%= "在庫" %></p></td>
        <td><p id="material-select-unit"><%= "数" %></p></td>
        <input type="hidden" class="material-per-price "id="material-select-per-price">
        <input type="hidden" class="material-cost-price "id="material-select-cost-price">

      <td>
        <%= f.number_field :use_material_number, class: "use-material-number", id: "material-select-use-number" %>
      </td>
      <td><button type="button" class="material-determine">確定</button></td>
      <td><%= link_to_remove_association "削除", f, class: 'remove-delete', id: 'remove-btn' %></td>
    </tr>
  </table>
</div>

<script> //最初は材料追加ボタン非表示
  $(document).ready(function() {
    $('#add-btn').hide();
  });
</script>

<script> //追加ボタンを押すと追加・再計算・登録ボタン非表示
  $(function() {
    $('#add-btn').on('click', function() {
      $('#add-btn').hide();
      $('#material-submit').prop('disabled', true);
      $('#recalculation-btn').prop('disabled', true);
    });
  });
</script>

<script> //確定ボタンを押すと
  $(function() {
    $('.material-determine').on('click', function() {
      $('.material-select').prop('disabled', true); //材料変更できない
      $('.use-material-number').prop('disabled', true); //使用数変更できない
      $('#recalculation-btn').prop('disabled', false); //再計算ボタン表示
      $('#add-btn').show(); //材料追加ボタン表示
    });
  });
</script>

  <script> //材料を選ぶと在庫・単位・原価を取得
  function changeMaterial(val){
    window.material_id = val;
    $('#material-select-image').attr('id', 'material-select-image' + material_id);
    $('#material-select-stock').attr('id', 'material-select-stock' + material_id);
    $('#material-select-unit').attr('id', 'material-select-unit' + material_id);
    $('#material-select-per-price').attr('id', 'material-select-per-price' + material_id);
    $('#material-select-cost-price').attr('id', 'material-select-cost-price' + material_id);
    $('#material-select-use-number').attr('id', 'material-select-use-number' + material_id);
    $.ajax({
      url: "/products/get_material",
      type: "GET",
      data: {
        material_id: material_id
      }
    })
  };
  </script>

  <script> //原価合計値を計算
  $(function(){
    window.product_cost_sum = 0;
    $('.use-material-number').change(function() {
      var use_number = parseInt($('#material-select-use-number' + material_id).val()); //使用数を取得
      var cost_price = parseInt($('#material-select-per-price' + material_id).text()); //材料の原価を取得
      var material_cost_price = Math.floor(use_number * cost_price); //材料の原価を計算
      $('#material-select-cost-price' + material_id).val(material_cost_price);
      var product_cost_sum = $(".material-cost-price").get().reduce((s, e) => +e.value + s, 0); //素材全部の原価合計
      var cost_rate_30 = Math.floor(product_cost_sum / 0.3);
      var cost_rate_40 = Math.floor(product_cost_sum / 0.4);
      var cost_rate_50 = Math.floor(product_cost_sum / 0.5);
      $('#product-cost-result').text("：" + product_cost_sum + "/個");
      $('#product-cost-price').val(product_cost_sum);
      $('#product-cost-30').text(cost_rate_30 + "円/個(参考価格)");
      $('#product-cost-40').text(cost_rate_40 + "円/個(参考価格)");
      $('#product-cost-50').text(cost_rate_50 + "円/個(参考価格)");
    });
  });
  </script>

  <script>
  $(function() { //再計算ボタンを押すと原価合計再計算
    $('#recalculation-btn').click(function() {
      var product_cost_sum = $(".material-cost-price").get().reduce((s, e) => +e.value + s, 0);
      var cost_rate_30 = Math.floor(product_cost_sum / 0.3);
      var cost_rate_40 = Math.floor(product_cost_sum / 0.4);
      var cost_rate_50 = Math.floor(product_cost_sum / 0.5);
      $('#product-cost-result').text("：" + product_cost_sum + "/個");
      $('#product-cost-price').val(product_cost_sum);
      $('#product-cost-30').text(cost_rate_30 + "円/個(参考価格)");
      $('#product-cost-40').text(cost_rate_40 + "円/個(参考価格)");
      $('#product-cost-50').text(cost_rate_50 + "円/個(参考価格)");
      $('#material-submit').prop('disabled', false); //登録ボタン表示
    });
  });
  </script>

<script> //削除ボタン押すと削除ボタン１個の時は追加ボタン表示する
  $(function() {
    $('.remove_fields').on('click', function() {
      $('#add-btn').show(); //材料追加ボタン表示
      $('#material-submit').prop('disabled', true); //登録ボタン非表示
      if ($('.remove-delete').length == 1) {       //削除ボタンが1つだった時
        $('#add-btn').show();                   //材料追加ボタンを出す
      }
    });
  });
</script>

<script> //商品価格を入力すると原価率がわかる
  $(function() {
    $('#product_sales_price').change(function() {
      var product_cost_sum = $(".material-cost-price").get().reduce((s, e) => +e.value + s, 0);
      var sales_price = $(this).val();
      var cost_rate = Math.floor(product_cost_sum / sales_price * 100);
      $('#cost-rate-result').text("：" + cost_rate + "％");
      $('#product-cost-rate').val(cost_rate);
    });
  });
</script>

<script> //登録ボタンを押したときに材料が表示となる
  $(function() {
    $('#material-submit').click(function() {
      $('.material-select').prop('disabled', false);
      $('.use-material-number').prop('disabled', false);
    });
  });
</script>